.calculator-container {
  width: 300px;
  margin: 50px auto;
  background: #000;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgab(0, 0, 0, 0);
}
.display {
  background: 444;
  color: white;
  font-size: 2em;
  padding: 20px;
  text-align: right;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.buttons.orange {
  background: orange;
  color: white;
}
.buttons.zero {
  grid-column: span 2;
}
